.app-content .feed_list span,
.app-content .article_list .index-item-title{
    font-size: 13px;
}
.app-toolbar .article_list,
.app-content .feed_list,
.app-content .article_list .index-item-title{
    line-height: 21px;
}
.app-content .feed_list .label-item,
.app-content .article_list article{
    padding: 0 0 0 10px;
}
.app-content .article_list .index-item-meta,
.article_detail .article-origin,
.article_detail .article-meta{
    color: #777;
    font-size: 12px;
}
/* 上方工具 */
.app-toolbar .feed_list{
    padding-left: 16px;
    height: 31px;
    line-height: 31px;
    padding: 6px 0px 0px 10px;
    border-bottom: 1px solid #ebebeb;
    font-weight: normal;
    font-size: 20px;
    color: #dd4b39;
}
.app-toolbar .logo{
    background-image: url('../images/logo.png');
    opacity: .75;
    background-size: 30px;
    height: 29px;
    position: absolute;
    width: 29px;
}
.app-toolbar .brand {
    padding: 0 0 0 30px;
    font-size: 18px;
}
.app-toolbar .article_detail .btn,
.app-toolbar .article_list .btn{
    border: 1px solid transparent;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-transform: uppercase;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
}
.app-toolbar .article_list .btn{
    background-color: #250;
    /*
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    */
}
.app-toolbar .article_list .active{
    background-color: #990;
}
.app-toolbar .article_list .mark{
    background-color: #099;
}
.app-toolbar .article_detail .btn{
    background-color: #15a;
}
/* 内容 */
.app-content .feed_list {
    color: #000;
    font-weight: bold
    padding: 6px 0;
}
.app-content .feed_list ul li span.title{
    text-align: -webkit-match-parent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 180px;
    text-overflow: ellipsis;
}

.app-content .feed_list ul li span.counter{
    padding: 0 0 0 4px;
    margin-right: 16px;
    color: #666;
    font-size: 85%;
    display: inline-block;
    vertical-align: top;
}
.app-content .article_list{
    width: 280px;
    overflow-x: hidden;
}
.app-content .article_list .index-item{ /*未读*/
    background: #eee;
    border-color: #eee;
}
.app-content .article_list .markasread,
.app-content .article_list .read{ /*已读*/
    background: #fff;
    border-color: #fff;
    font-weight: normal;
}
.app-content .article_list .current{ /*在读*/
    background: #ddd;
    border-color: #ddd;
}
.app-content .article_list article{
    max-width: 254px;
}
/* 文章 */
.article_detail .article-header{
}
.article_detail .article-header .article-title{
    color: #15c;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.article_detail .article-header,
.article_detail .article-content{
    padding: 0 10px;
    font-size: 90%;
}
.article_detail .article-content{
    word-wrap: break-word; 
    word-break: normal;
}



.side-tree {
	*font-family:"Open Sans",Helvetica,Arial,Sans-serif;
	*font-family: "Open Sans", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	color: white;
}

.side-tree li {
	cursor: pointer;
	padding: 4px 0px;
	list-style:none;
}

.side-tree div.label-item>li {
	padding: 14px 0px 8px 0px;
	border-bottom:2px solid;
	font-weight: bold;
}

.side-tree li.label {
	color: #000;
	margin: 0 32px;

	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	border-radius: inherit;

	font-size: inherit;
	line-height: inherit;
	display: inherit;
	whites-space: inherit;
	vertical-align: inherit;
	background-color: inherit;
	text-shadow: none;
	text-decoration: none;
}
.side-tree:hover li.label, .side-tree.on li.label {
	color: inherit;
}
.side-tree li.label:hover, .side-tree li.label.current {
	color: inherit;
}
.side-tree li.label.current {
	color: #ffc425;
}

.side-tree li.feed-item {
	color: #333;
	font-size: 90%;
	margin: 0 32px;
}
.side-tree:hover li.feed-item, .side-tree.on li.feed-item {
	color: #333;
}
.side-tree li.feed-item:hover {
	color: #360;
}
.side-tree li.feed-item.current {
	color: #000;
}

.side-tree li span.counter {
	font-size: 80%;
	font-weight: lighter;
	margin-left:4px;
	color:#3498db;
	display:none;
}
.side-tree li span.counter.on {
	display: inline-block;
}

.side-tree div.label-item ul {
	max-height: 90px;
	overflow: hidden;
}
/* All, Mute*/
.side-tree div.label-item:first-of-type ul, .side-tree div.label-item:last-of-type ul {
	max-height: 0px;
}
.side-tree div.label-item i.arrow {
	margin-left: -30px;
	opacity: 1;
	color: #ffc425;
	cursor: pointer;
	display: inline-block;
}
.side-tree div.label-item.expanded i.arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.side-tree div.label-item.expanded ul {
	max-height: 10000px;
}
.side-tree:hover div.label-item i.arrow {
	opacity: 1.0;
}

.side-tree i.more {
	opacity: 0;
	float:right;
	margin-right:-30px;
	cursor: pointer;
}
.side-tree li:hover i.more {
	opacity: 1.0;
	color: #ffc425;
}

.side-tree li.feed-item i.mute {
	margin-left: -28px;
	opacity: 0;
	color: white;
	cursor: pointer;
	display: inline-block;

	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}
.side-tree li.feed-item i.mute:hover {
	opacity: 0.5;
}
.side-tree:hover li.feed-item i.mute.on {
	opacity: 1.0;
}